@import url('https://fonts.googleapis.com/css?family=Roboto:300');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: table;
}

h1 {
  /* DISCLAIMER */
  /* Comic Sans MS <b>is a joke</b> */
  /* I DO NOT LIKE COMIC SANS AND I THINK IT IS AN AWFUL FONT */
  /* If you see this in Comic Sans you should probably delete it from your computer */

  font-family: 'Comic Sans MS', 'Roboto', sans-serif;
  font-size: 5em;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  animation: fade 4s ease both;
}

.github-corner {
  animation: fade 3s 1s ease both;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
