@import url('https://fonts.googleapis.com/css?family=Roboto:300');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: table;
}

h1 {
  font-family: 'Comic Sans MS', 'Roboto', sans-serif;
  font-size: 5em;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  animation: wip 4s;
}

@keyframes wip {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
